{% extends "base.html" %}

{% block content %}
        <h1 class="mb-4">Tag list
            <a href="{% url 'todo:tag-create' %}" class="btn btn-primary">Add Tag</a>
        </h1>

        {% if tag_list %}
          <table class="table table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th>Name</th>
                      <th>Update</th>
                      <th>Delete</th>
                  </tr>
              </thead>
              <tbody>
                  {% for tag in tag_list %}
                  <tr>
                      <td>{{ tag.name }}</td>
                      <td>
                          <a href="#" class="btn btn-warning btn-sm">Update</a>
                      </td>
                      <td>
                          <a href="#" class="btn btn-danger btn-sm">Delete</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        {% else %}
            <p class="text-muted">There are no tags in the service.</p>
        {% endif %}
{% endblock %}
