{% extends "base.html" %}

{% block content %}
    <h1>TODO list <a href="{% url 'todo:task-create' %}" class="btn btn-primary">Add Task</a></h1>

    {% if task_list %}
        {% for task in task_list %}
            <div class="task-item">
                <h3>
                    {{ task.content }}
                    {% if task.is_completed %}
                        <span class="badge bg-success">Done</span>
                    {% else %}
                        <span class="badge bg-danger">Not done</span>
                    {% endif %}
                </h3>
                <p>Created: {{ task.creation_datetime|date:"F j, Y, g:i a" }}</p>
                {% if task.deadline %}
                    <p>Deadline: {{ task.deadline|date:"F j, Y, g:i a" }}</p>
                {% endif %}
                <p>Tags:
                    {% for tag in task.tags.all %}
                        <span class="badge bg-secondary">{{ tag.name }}</span>
                    {% endfor %}
                </p>
                <a href="{% url 'todo:task-update' task.id %}">Update</a> |
                <a href="#">Delete</a>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>There are no tasks in the service.</p>
    {% endif %}
{% endblock %}
